{{ define "header" }} {{- partial "header-werk.html" . -}}  {{ end }}
{{ define "main" }}
<article class="overflow-hidden">
  <header class="w-screen h-screen mb-24">
    <img src="/images/werkhero.jpg" class="w-full" style="object-fit:cover;" alt="">
  </header>
  <div class="container px-4 pt-24">
    <div class="px-20">
      <h1 class="text-2xl font-medium mb-4">{{.Title}}</h1>
      <div class="flex flex-row mx-auto -mx-12 mb-8">
        <div class="w-3/5 px-12 main-content">
          {{.Content}}
        </div>
        <div class="w-2/5 px-12 flex flex-row justify-end">
          <div>
            <p class="mb-12"><strong>Atlas theater</strong></p>
            <ul class="list-reset">
              <li>visuele identiteit</li>
              <li>brochure</li>
              <li>gerneflyers</li>
              <li>photobooth</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-16">
        <img src="/images/werk1.jpg" class="w-full mb-2" style="object-fit:cover;" alt="">
        <img src="/images/werk2.jpg" class="w-full mb-2" style="object-fit:cover;" alt="">
        <img src="/images/werk3.jpg" class="w-full" style="object-fit:cover;" alt="">
      </div>
    </div>
  </div>
</article>

{{ end }}