{{ define "header" }} {{- partial "header-werk.html" . -}}  {{ end }}
{{ define "main" }}
<article class="overflow-hidden">
  <header class="w-screen h-screen mb-12">
    <img src="/images/werkhero.jpg" class="w-full h-full" style="object-fit:cover;" alt="">
  </header>
  <div class="container px-4 pt-12 md:pt-20">
    <div class="lg:px-20">
      <div id="contentBoxToggle" class="flex items-baseline mb-4 cursor-pointer">
        <div class="w-4 h-4 mr-6 mb-1 relative">
          <svg id="contentBox-open" class="block absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.8">
            <path  style="fill: #ff3901;" d="M13.8,6.5H8.5V1.2H6.2V6.5H1V8.8H6.2V14H8.5V8.8h5.3Z" transform="translate(-1 -1.2)"/>
          </svg>
          <svg class="hidden absolute" id="contentBox-close"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.8">
            <path style="fill: #ff3901;" d="M13.8,6.5H8.5V1.2H6.2V6.5H1V8.8H6.2V14H8.5V8.8h5.3Z" transform="translate(9.192 -1.556) rotate(45)"/>
          </svg>
        </div>
        <h1 class="text-2xl font-medium ">{{.Title}}</h1>
      </div>
      <div id="contentBox" class="hidden md:flex-row mx-auto md:-mx-12 mb-8 flex-col ">
        <div class="md:w-3/5 md:px-12 main-content">
          {{.Content}}
        </div>
        <div class="md:w-2/5 md:px-12 md:flex md:flex-row md:justify-end">
          <div>
            {{ with .Params.klant }}
            <p class="mb-4 md:mb-12"><strong>{{.}}</strong></p>
            {{ end }}
            {{ with .Params.tags }}
            <ul class="list-reset">
              {{ range . }}
              <li>{{.}}</li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="mb-16">
        <img src="/images/werk1.jpg" class="w-full mb-2" style="object-fit:cover;" alt="">
        <img src="/images/werk2.jpg" class="w-full mb-2" style="object-fit:cover;" alt="">
        <img src="/images/werk3.jpg" class="w-full" style="object-fit:cover;" alt="">
      </div>
      <div class="flex flex-row justify-between mb-12 text-2xl">
        <a href="#" class="flex flex-col items-center">
          <span class="block mb-4">atlas</span>
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.2 16.6">
            <path id="pijl_links" data-name="pijl links" style="fill: #ff3901;" d="M8.9.4,1,8.4v.7L8.9,17l1.6-1.6L4.9,9.8H22.2V7.6H4.9l5.6-5.5Z" transform="translate(-1 -0.4)"/>
          </svg>
        </a>
        <a href="#" class="flex flex-col items-center">
          <span class="block mb-4">dokjard</span>
          <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.2 16.6">
            <path id="pijl_links" data-name="pijl links" style="fill: #ff3901;" d="M14.3,17l7.9-7.9V8.4L14.3.4,12.7,2.1l5.6,5.5H1V9.8H18.3l-5.6,5.6Z" transform="translate(-1 -0.4)"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</article>

{{ end }}