/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

a {
    @apply text-orange no-underline;
}

.bg-orange a {
    @apply text-white;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 @font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Regular.woff2') format('woff2'),
        url('../fonts/Moderat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat';
    src: url('../fonts/Moderat-Regular.woff2') format('woff2'),
        url('../fonts/Moderat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat-Bold';
    src: url('../fonts/Moderat-Bold.woff2') format('woff2'),
        url('../fonts/Moderat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Moderat-Bold';
    src: url('../fonts/Moderat-Bold.woff2') format('woff2'),
        url('../fonts/Moderat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


 img {
  max-width: 100%;
  vertical-align: top;
  color: transparent;
  border: 0;
  background: none;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  overflow: visible;
  pointer-events: none;
}

.logo-inner{
    fill:none;
    stroke:#FF3901;
    stroke-width: 8.435;
    stroke-linejoin: bevel;
    vector-effect: non-scaling-stroke;
}

@screen md {
    .logo-inner{
        stroke-width: 14.435;
    }
}

svg:not(:root) {
    overflow: visible;
}

.portfolio-card:hover .portfolio-card-text {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.portfolio-card-text {
    visibility: hidden;
    opacity: 0;
}

.main-content p {
    @apply mb-8
}


.search-input:focus + .blink
{
    animation: noblink 1s infinite;
}



.blink {
  top: 0;
  right: 5%;
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 2px;
  height: 80%;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0; }
  100% { opacity: 1.0; }
}

@keyframes noblink {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

::-moz-selection { background: #ff3901; color: #fff;  }
::selection { background: #ff3901; color: #fff;  }

.bg-orange ::-moz-selection { background: #fff; color: #ff3901;  }
.bg-orange ::selection { background: #fff; color: #ff3901;  }

.main-content a {
    text-decoration: underline !important;
}

mark {
    background-color: inherit !important;
    color: inherit !important;
    display: inline;
}

.search-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff !important;
    opacity: 1 !important;
}
.search-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff !important;
    opacity: 1 !important;
}
.search-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff !important;
    opacity: 1 !important;
}
.search-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
}



.site-wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 1920px;
}
@screen md {
    .site-wrapper {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
   }


   .search-input {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

@screen md {
    .search-input {
    max-width: 100%;
    }
}

#contentBoxToggle > .relative {
    transform: translateY(0px) scale(1) rotate(0deg);
    transition: all .2s ease-in-out;
}

#contentBoxToggle:hover > .relative {
    transform: translateY(-2px) scale(1.5) rotate(45deg);
    transition: all .2s ease-in-out;
}