<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class='text-base leading-normal font-sans tracking-wide {{if eq .Params.background "orange"}}bg-orange text-white {{ else }}text-orange{{end}}'>
        <div lass="mx-auto overflow-hidden">
        {{- block "header" . }}{{- partial "header.html" . -}} {{ end }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
        <script src='{{ "dist/app.bundle.js" | relURL }}?{{ now.Unix }}'></script>

    </body>
</html>
