{{ define "header" }} {{- partial "header-search.html" . -}}  {{ end }}
{{ define "main" }}
<div class="mx-auto" style="max-width: 1920px;">
<section class="-mx-4 md:mx-0 px-4  relative md:mx-4 xl:mx-6">
  <div class="md:flex md:flex-row md:flex-wrap md:px-4 py-16 md:py-32 work-items">
    {{range .Pages }}
      {{- partial "werk-card.html" . -}}
    {{ end }}
  </div>
  <svg x="0" y="0" viewBox="0 0 902 1080" preserveAspectRatio="none" class="logo">
    <g>
      <polyline class="logo-inner" points="0, 1080 0, 0 902, 1080 902, 0" />
    </g>
  </svg>
</section>
</div>
{{ end }}