{{ define "main" }}
<section>
  <div class="mx-auto" style="max-width: 1920px;">
    <section class="px-4 -mx-4 md:mx-0  relative md:mx-12">
      <div class="md:flex md:flex-row md:flex-wrap px-4 py-16 md:py-32 work-items" id="search-results">
      </div>
      <svg x="0" y="0" viewBox="0 0 902 1080" preserveAspectRatio="none" class="logo">
        <g>
          <polyline class="logo-inner" points="0, 1080 0, 0 902, 1080 902, 0" />
        </g>
      </svg>
    </section>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
  <a id="summary-${key}" href="${link}" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
    <picture class="block w-full h-full">
        <img src="${hero}" class="block w-full h-full" style="object-fit:cover;" />
    </picture>
    <span class="bg-orange text-white p-4 md:p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
      <span class="uppercase text-sm block w-full">${klant}</span>
      <span class="text-2xl md:text-3xl xl:text-5xl leading-none">${title}</span>
  </span>
  </a>

</script>
{{ end }}