{{ define "main" }}
<section class=" px-4 mb-2">
  <div class="mx-auto w-2/3 md:w-1/2 lg:ml-1/3">
    <p class="text-xl md:text-2xl lg:text-3xl leading-tight">Wij geven vorm aan de inhoud zodat de boodschap overkomt. Ontwerp op een slimme en uitgesproken eigen manier.
      Impact verzekerd.</p>
  </div>
</section>
<section class="px-4  relative">
  <div class="md:flex md:flex-row md:flex-wrap px-4 py-32 work-items">
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>
    <a href="/werk/scheepsbouw/" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card">
      <img src="/images/placeholder.jpg" alt="">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase text-sm block w-full">klant b</span>
          <span class="text-3xl xl:text-5xl leading-none">Hoe geef je smoel aan scheepsbouw?</span>
      </span>
    </a>


  </div>
  <svg x="0" y="0" viewBox="0 0 902 1080" preserveAspectRatio="none" class="logo">
    <g>
      <polyline class="logo-inner" points="0, 1080 0, 0 902, 1080 902, 0" />
    </g>
  </svg>
</section>
{{ end }}