{{ define "main" }}
<article class="container px-4 pt-24">
  <div class="flex flex-row mx-auto px-20 -mx-12 mb-16">
    <div class="text-3xl w-3/5 px-12">
      {{.Content}}
    </div>
    <div class="text-3xl w-2/5 px-12 flex flex-row justify-end">
      <div>
        <p class="mb-8">085 1301423<br>info@studioneon.nl</p>
        <p class="mb-8">Akkerstraat 95<br>9717 KZ Groningen</p>
        <p>Esdoornstraat 3<br>8019 XN Zwolle</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row max-auto px-20 mb-16">
    <img src="/images/ons1.jpg" alt="" class="w-1/2" style="object-fit:cover;">
    <img src="/images/ons1.jpg" alt="" class="w-1/2" style="object-fit:cover;">
  </div>
</article>

{{ end }}