{{ define "main" }}
<article class="mx-auto site-wrapper">
  <div class="md:flex md:flex-row mx-auto md:-mx-12 mb-24">
    <div class="text-xl md:text-2xl leading-tight lg:text-4xl xl:text-5xl px-4 md:0  mx-auto md:w-3/5 md:px-12 mb-12 md:mb-0">
      {{.Content}}
    </div>
    <div class="text-xl md:text-2xl lg:text-4xl leading-tight px-4 md:0 md:w-2/5 md:px-12 md:flex md:flex-row md:justify-end">
      <div>
        <p class="mb-8">085 1301423<br>info@studioneon.nl</p>
        <a href="https://www.google.nl/maps/place/Akkerstraat+95,+9717+KZ+Groningen/data=!4m2!3m1!1s0x47c9cd43e3e59385:0xfb40d8b8d98dca01?ved=2ahUKEwjbpPrpzJPfAhUFblAKHVDyAWsQ8gEwAHoECAAQAQ" target="_blank" class="block mb-8">Akkerstraat 95<br>9717 KZ Groningen</a>
        <a href="https://www.google.nl/maps/place/Esdoornstraat+3,+8021+WB+Zwolle/@52.5206959,6.0916264,17z/data=!3m1!4b1!4m5!3m4!1s0x47c7df3722b114ff:0x94d2dcff2f7bf0ea!8m2!3d52.5206959!4d6.0938151" target="_blank" class="block">Esdoornstraat 3<br>8019 XN Zwolle</a>
      </div>
    </div>
  </div>
  <div class="md:flex md:flex-row max-auto mb-16">
    <a class="block portfolio-card w-full h-full md:w-1/2 relative overflow-hidden" href="https://www.google.nl/maps/place/Akkerstraat+95,+9717+KZ+Groningen/data=!4m2!3m1!1s0x47c9cd43e3e59385:0xfb40d8b8d98dca01?ved=2ahUKEwjbpPrpzJPfAhUFblAKHVDyAWsQ8gEwAHoECAAQAQ" target="_blank">
      <img src="/images/ons1.jpg" alt="" class="w-full"  style="object-fit:cover;">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
          <span class="uppercase">Google Maps</span>
          <span class="text-5xl">Groningen</span>
      </span>
    </a>
    <a class="block portfolio-card w-full h-full md:w-1/2 relative overflow-hidden" href="https://www.google.nl/maps/place/Akkerstraat+95,+9717+KZ+Groningen/data=!4m2!3m1!1s0x47c9cd43e3e59385:0xfb40d8b8d98dca01?ved=2ahUKEwjbpPrpzJPfAhUFblAKHVDyAWsQ8gEwAHoECAAQAQ" target="_blank">
      <img src="/images/ons1.jpg" alt="" class="w-full"  style="object-fit:cover;">
      <span class="bg-orange text-white p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
        <span class="uppercase">Google Maps</span>
        <span class="text-5xl">Zwolle</span>
      </span>
    </a>

  </div>
</article>

{{ end }}