{{ define "main" }}
<article class="container px-4 pt-6">
  <div class="px-20 mb-16">
    <img src="/images/abouttemp.jpg" class="w-full" style="object-fit:cover;" alt="">
  </div>
  <div class="w-3/4 mx-auto main-content text-3xl mb-16">
    {{.Content}}
  </div>
  <div class="flex flex-row max-auto px-20 mb-16">
    <img src="/images/ons1.jpg" alt="" class="w-1/2" style="object-fit:cover;">
    <img src="/images/ons1.jpg" alt="" class="w-1/2" style="object-fit:cover;">
  </div>
  <div class="flex flex-row px-20 mb-8">
    <div class="w-1/2">
      <h2 class="text-3xl font-medium leading-tight">Werkwijze</h2>
    </div>
    <div class="w-1/2 main-content">
      <p>Om tot een goede oplossing op jouw ontwerpvraag te komen leren we de organisatie eerst graag goed kennen. We stellen (kritische) vragen en kaderen zo samen de vraag. Na de ontwerpfase presenteren we een sterk concept en verrassende uitingen die met oog voor detail zijn ontworpen.</p> 
      <p>Van begin tot het opleveren van het resultaat is het makkelijk en snel contact houden.</p>
    </div>
  </div>
  <div class="flex flex-row px-20 mb-8">
    <div class="w-1/2">
      <h2 class="text-3xl font-medium w-1/2 leading-tight">Studio Neon werkt onder andere voor</h2>
    </div>
    <div class="w-1/2 main-content">
      <p>Atlas Theater, TENT Rotterdam, Stimuleringsfonds Creative industrie, Holland Dance Festival, Rijksakademie Amsterdam, Cultuurpakt Noord, Kunstweekend Charlois, Gemeente Groningen, WarmteStad, Wold & Waard, Waterbedrijf Groningen, Provincie Groningen, Rijkswaterstaat, Hein Braaksma Lambert Kamps, Noorderlicht, Noorderbreedte, WFFR, IABR</p> 
    </div>
  </div>
  <div class="px-20 mb-16">
    <img src="/images/abouttemp2.jpg" class="w-full" style="object-fit:cover;" alt="">
  </div>
</article>

{{ end }}