<footer class="pt-8 mb-8 px-4 mx-auto" style="max-width: 1920px;">
  <div class="md:mx-6 xl:mx-6 md:text-xl">
    <div class="md:flex md:flex-row md:justify-between">
      <div class="mb-4 md:mb-0">
        <span class="mr-4 md:mr-8 font-display">&copy <strong>Studio Neon</strong></span>
        <a href="/voorwaarden">voorwaarden</a>
      </div>
      <nav>
        <a href="https://www.linkedin.com/company/ditisstudioneon/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/studioneon.nl/" target="_blank" class="ml-2 md:ml-8">Instagram</a>
        <a href="https://www.facebook.com/Studio-Neon-122697985159052/" target="_blank" class="ml-2 md:ml-8">Facebook</a>
      </nav>
    </div>
  </div>
  </footer>