<footer class="container pt-8 mb-8 px-4">
    <div class="flex flex-row justify-between">
      <div>
        <span class="mr-8">&copy <strong>Studio Neon</strong></span>
        <a href="/disclaimer">disclaimer</a>
      </div>
      <nav>
        <a href="https://www.linkedin.com/company/ditisstudioneon/">Linkedin</a>
        <a href="https://www.instagram.com/studioneon.nl/" target="_blank" class="ml-8">Instagram</a>
        <a href="https://www.facebook.com/Studio-Neon-122697985159052/" target="_blank" class="ml-8">Facebook</a>
      </nav>
    </div>
  </footer>