<a href="{{.RelPermalink}}" class="bg-grey md:w-1/2 lg:w-1/3 relative no-underline block portfolio-card overflow-hidden">
  {{ with .Params.hero}}
  {{ $imageResource := resources.Get . }}
  {{ with $imageResource }}
  {{ $src1x := (.Fill "620x360 Center") }}
  {{ $src2x := (.Fill "1240x720 Center") }}
  <picture class="block w-full h-full">
    <img src="{{ $src1x.RelPermalink }}" srcset="{{ $src1x.RelPermalink }} 1x, {{ $src2x.RelPermalink }} 2x" class="block w-full h-full" style="object-fit:cover;" />
  </picture>
  {{ end }}
  {{ end }}
  <span class="bg-orange text-white p-4 md:p-8 w-full h-full flex absolute z-10 flex-col justify-between portfolio-card-text">
    {{ with .Params.klant }}
    <span class="uppercase text-sm block w-full opacity-0 md:opacity-100">{{.}}</span>
    {{ end }}
    <span class="text-2xl md:text-3xl xl:text-4xl leading-none opacity-0 md:opacity-100">{{.Title}}</span>
  </span>
</a>